.top-nav-bar {
    color:white;
    height:56px;
    background-image:linear-gradient(0deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    position:sticky;
    top:0;
    z-index: 1000;
}

.top-nav-bar h1 {
    font-size:1.5rem;
    margin:0; 
    padding:0;
}