<GenericModal Title="Confirm Deletion" ButtonTitle="Delete" ButtonSize="sm" ButtonType="danger" AdditionalButtonClass="@AdditionalButtonCssClass" ModalSize="md" OnConfirm="ConfirmDelete" ConfirmButtonText="Delete" ConfirmButtonType="danger">
    <Body>
    <p>@Label</p>
    </Body>
</GenericModal>

@code {
    [Parameter] public required EventCallback OnDeleteConfirmed { get; set; }
    [Parameter] public string? RecordType { get; set; }
    [Parameter] public bool FullWidthButton { get; set; }
    private string AdditionalButtonCssClass => !FullWidthButton ? "w-50" : "w-100";
    private string Label => $"Are you sure you want to delete this {(!string.IsNullOrEmpty(RecordType) ? RecordType : "record")}?";

    private async Task ConfirmDelete()
    {
        await LoaderService.Show();
        await OnDeleteConfirmed.InvokeAsync();
        await LoaderService.Hide();
    }
}